<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
            {{each recentPosts as post index}}
            <li>
                <a href="/single/{{post.id}}">{{post.value}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        <ul>
            {{each archives as archive index}}
            <li>
                <a href="/find/archive/{{archive.id}}">{{archive.value}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            {{each categorys as category index}}
            <li>
                <a href="/find/category/{{category.id}}">{{category.value}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</aside>